<!DOCTYPE html>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-auto">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center">
    </br>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Funding Source
          </h6>
          <a class="" href="https://www.ukri.org/councils/epsrc/">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4f/Engineering_and_Physical_Sciences_Research_Council_logo.svg" alt="" height="50">
          </a>
          <p>
        </br>
            EPSRC grants EP/X032701/1, EP/X032663/1 and  EP/W032252/1
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>PSDI PROJECT
            </h6>
            <a class="" href="https://www.psdi.ac.uk/townhall/biosim/">
                <img src="{{ url_for('static', filename='/images/PSDI_Logo_CMYK-01.svg') }}" alt="" height="50">
            </a>
            <p></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Acknowledgements
            </h6>
            <a href="https://www.ccpbiosim.ac.uk/slim-md">
                <img src="{{ url_for('static', filename='/images/logo-dark-small.png') }}" alt="" height="50">
            </a>
            <a href="https://www.ukri.org/councils/stfc/">
                <img src="https://upload.wikimedia.org/wikipedia/en/4/40/Science_and_Technology_Facilities_Council_logo.svg" alt="" height="50" hspace="30" vspace="10">
            </a>
            <p></p>
        </div>
        <!-- Grid column -->

        
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/PSDI-Biomolecular-team">PSDI Biomolecular Team</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</html>