<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-light" id="highlight">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='/images/protein-chip-name.svg') }}" alt="" width="220">
    </a>

    <form class="d-flex" action="{{ url_for('data.get_search_text') }}" method="POST" enctype="multipart/form-data">
      <input class="form-control me-2" type="search" placeholder="Search BioSimDB" aria-label="Search" name="search_text">
      <button class="btn btn-outline-success" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
    </form>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/showprovenance">Explore Provenance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/webform">Simulation Submission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/BioSimDB">Demo BioSimDB</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/help">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</html>