<!DOCTYPE html>
<html>
<head>
    <title>BioSimDB</title>
    {% include 'main/head.html' %}
    {% include 'main/nav.html' %}
</head>
</html>

<body class="d-flex flex-column min-vh-100">
    <div class="container bg-white rounded border">
    </br>
        <h1 class="text-left">Contact</h1>
        </br>
        <p class="text-left">
            If you're interested in helping us improve our database and simulation provenance services, please get in touch with us via the following channels:
        </p>
        <p class="text-left">
            Email developers: <a class="link-dark" href="mailto:jas.kalayan@stfc.ac.uk">Jas Kalayan</a>, <a class="link-dark" href="mailto:james.gebbie@stfc.ac.uk">James Gebbie-Rayet</a>
        </p>
        <p class="text-left">
            If you're interested in getting involved in the overarching PSDI project to connect data infrastructure in physical sciences, please make contact via the following <a class="link-dark" href="https://www.psdi.ac.uk/contact/">form</a>.
        </p>
    <br>
    </div>
    {% include 'main/footer.html' %}
</body>
</html>
