<!DOCTYPE html>
<html>
<head>
    <title>BioSimDB</title>
    {% include 'main/head.html' %}
    {% include 'main/nav.html' %}
</head>
</html>

<body class="d-flex flex-column min-vh-100">
    <div class="container bg-white rounded border">
    </br>
        <h1 class="text-left"><a class="link-dark" href="/BioSimDB" style="text-decoration:none"> Demo BioSimDB</a></h1>
        </br>
        <h5>What is it?</h5>
        <p class="text-left">
            This is a demo application showcasing technology for uploading 
            and exploring biomolecular simulation data. 
        </p>
        <p class="text-left">
            The aim is to develop a service that will provide storage, display and visualisation of biomolecular simulation provenance. 
            We will focus on automated collection of 
            multiple of steps involved in the building and preparing of systems 
            for molecular dynamics simulations. 
        </p>
        <h5>How it works</h5>
        <p class="text-left">
            This demo database can be used to upload simulation topology and trajectory files. The full provenance of your simulation setup can also be uploaded by creating an AiiDA archive file.
        </p>
        <h5>Who is behind it?</h5>
        <p class="text-left">
            BioSimDB is part of the <a class="link-dark" href="https://www.psdi.ac.uk/">PSDI project</a>, 
            an intiative to connect 
            data infrastructure used in the physical sciences. 
        </p>
        <h5>Get Involved!</h5>
        <p class="text-left">
            If you are interested in FAIR and open data in the biomolecular 
            simulation community, please get involved and help us develop, 
            test and grow BioSimDB.
        </p>
    <br>
    </div>
    {% include 'main/footer.html' %}
</body>
</html>
